{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block masthead %}

{% endblock %}
{% block content %}
<section class="page-section">
    <br>
    <br>
     <div class="divider-custom1 divider-dark1">
        <div class="divider-custom-line1"></div>
        <div class="text-center "><h2 >Agents</h2></div>
        <div class="divider-custom-line1"></div>
    </div>
    <br>
    <br>
    <br>
{#left column#}
    <div class="row">
    <div class="column "></div>

    <div class="left">
    <h2 class="text-center masthead-heading"> Solution for your Hard to Place Risks </h2>
        <br>

    <div class="text-center masthead-subheading"> Communication is King. </div>
        <br>
    <div class="text-center masthead-subheading">We pride ourselves on delivering stellar timely options for our referring
                                    partners.</div>
        <br>
    <div class="text-center masthead-subheading"> We enjoy surpassing expectations and building long term
                        lasting relationships. </div>
        <div >
            <br>
            <br>
            <br>
            <br>
            <br>




        <img    src="{% static 'assets/img/agents/trend.jpeg' %}" class="img-responsive img-fluid w-75 im-center center-block " alt="">
    </div>
</div>


{#   right col #}

    <div class="right" >
 <img src="{% static 'assets/img/agents/success.jpeg'%}" class="img-responsive center-block  w-75 " alt="">
        <br>
    <h2 class="text-center">Retention</h2>
        <br>

    <div class="text-center">We work hard to provide the best option for you. </div>
        <br>
    <div class="text-center">We pride ourselves of high retention, and work hard to provide clients
            extremely competitive rates, and a PEO that matches their needs. </div>
        <br>
    <div class="text-center">It is important to match the right PEO with the right risk. We continue
                to follow up with the client post bind, and communicate with
                                    you timely. </div>
        <br>
    <div class="text-center">We enjoy having the client feel we are the left hand and you're the right
                                        hand. </div>
        <br>
    <div class="text-center">We focus on WC, payroll, and benefits only. We do not shop your other lines
                                and protect them for you. </div>
 </div>
    <div class="right2"></div>
    </div>

    <br>
    <br>
    <br>
    <br>
</section>


<section class="page-section bg-blue" >
    <div class="container">
    <div class="divider-custom divider-dark">
        <div class="divider-custom-line"></div>
        <div class="text-center text-white"><h2>Fill Inquiry Below</h2></div>
        <div class="divider-custom-line"></div>
    </div>


    <br>
        <form enctype="multipart/form-data" method ="POST">
            {% csrf_token %}
            <div class="form-group">
                {{form.agency|as_crispy_field}}
                {{ form.email|as_crispy_field}}
                {{ form.contact|as_crispy_field}}
                {{ form.phone|as_crispy_field }}
                {{ form.message|as_crispy_field }}
                <p class="text-white"></p>
                <input class="text-white" type="file" id="resume" name="resume" style="display:none;"/>
                <label for="resume" style='
                background-color:white; /* Green */
                border: 200px #1d2124;
                border-radius:5px ;
                color: #737b83;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-weight:700;
                cursor:pointer;
                 '
                    > Upload Resume </label>

            </div>
            <div class="text-center">
                <button class="btn btn-light btn-xl text-uppercase" id="sendMessageButton" type="submit">Submit</button>
            </div>
        </form>
        <br>


</div>
    </section>

 <style>
        .column {
          width: 15%;
          float: left;
          padding: 5px;
        }

        .right {
          width: 35%;
            padding:10px
        }

        .right2{
            width: 15%;
            float:right;
            padding:5px;
        }

        .left {
          width: 35%;
            padding:1px
        }

   .center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}


}
    </style>

{% endblock %}
