{% extends 'index.html' %}
{% block masthead %}

{% endblock %}
{% load crispy_forms_tags%}
{% block content %}
     <head>
 <title>Quote - PCSLeasing</title></head>
     <style>
        .column {
          width: 30%;
          float: left;
          padding: 5px;
        }

        .right {
          width: 20%;
          padding:10px
        }

        .right2{
            width: 30%;
            float:right;
            padding:5px;
        }

        .left {
          width: 20%;
          padding:10px;
          padding-top: 30px;
        }

   .center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}


}
    </style>
<section class="page-section">
        <br> <br>
        <div class="divider-custom1 divider-dark1">
        <div class="divider-custom-line1"></div>
        <div class="text-center"><h2>Approved Quotes in as Little as 24 Hours</h2></div>
        <div class="divider-custom-line1"></div>
    </div>

<br>

<div class="row justify-content-md-center">
    <div class="col col-lg-2 ">
        <div class="text-center">
            <br>
        <h3> Easy Work Comp Solutions  </h3>
            <br><br>
            <div>13902 n Dale Mabry Hwy Suite 211, Tampa FL 33618 </div>
            <br><br>
            <a href="tel:8137481230" class="text-info">(813) 748-1230</a>

    </div>
    </div>

        <div class="col col-lg-2">
        <div class="text-center">
            <br>
    <h2>Hours</h2>
        <br><br>
            <div class="text-sm-center">
        Mon 08:00 am – 07:00 pm <br>
        Tue 08:00 am – 07:00 pm<br>
        Wed 08:00 am – 07:00 pm<br>
        Thu 08:00 am – 07:00 pm<br>
        Fri 08:00 am – 07:00 pm<br>
        Sat 08:00 am – 07:00 pm<br>
        Sun 08:00 am – 07:00 pm
        </div>
        <div>We make hard-to-place workers' comp EASY!</div>

</div>
    </div>
</div>


</section>

    <section class="page-section bg-blue">
  <div class="container">
    <div class="divider-custom divider-dark">
        <div class="divider-custom-line"></div>
        <div class="text-center text-white"><h2>Request Free Quote</h2></div>
        <div class="divider-custom-line"></div>
    </div>
       <form method="POST" class="form-group"  >
                    {% csrf_token %}
{#                    <div class="row align-items-stretch mb-5">#}
{#                        <div class="col-md-6">#}

                                {{ form.contact_person|as_crispy_field }}



                                {{ form.company_name|as_crispy_field }}



                                {{ form.operations|as_crispy_field }}



                                {{ form.phone|as_crispy_field }}



                                {{ form.email|as_crispy_field}}



                                {{ form.num_employee|as_crispy_field }}


{#                        </div>#}
{#                        <div class="col-md-6">#}

                                {{ form.payroll|as_crispy_field}}


{#                        </div>#}
{#                    </div>#}
                    <div class="text-center">
                        <div id="success"></div>
                        <button class="btn btn-light btn-xl text-uppercase" id="sendMessageButton" type="submit">CONTACT US</button>
                    </div>
                </form>
        <br>


</div>
</section>
{% endblock %}