{% extends 'index.html' %}
{% load static %}
{% block masthead %}

{% endblock %}
{% load crispy_forms_tags%}
{% block content %}
<br><br><br>
<br>
<br>
<div class="row">
<div class="right">
    <h1 style="color:blue">Why use a PEO?</h1>
    <br>
    <br>
    <h2>Workers' Compensation Coverage</h2>

    <h3>-Improve Cash Flow </h3>
    <ul>
    <li>NO annual audits</li>
    <li>NO premium down payments</li>
    <li>Discounts on workers' comp rates </li>
    <li>Pay-As-You-Go coverage </li>
    </ul>

    <h3>-Reduced Risk</h3>
<ul>
    <li>Bring your MOD back down to 1.0</li>
    <li>Work Comp claims management</li>
    <li>Safety manuals & guidelines</li>
</ul>



<h3>-Quick Turnaround (as little as 24 hours)</h3>
<ul>
    <li>Get coverage bound</li>
    <li>Get COIs (certificate of insurance) </li>
</ul>
<h2>Focus on your business, not your paperwork. Increase your profitability</h2>
    <br>
<div>Focus on what you do best, take charge of your daily operations and growth</div>
    <br>
<div>Run your day to day operations, the PEO handles your payroll processing, provides you pay-as-you-go workers' compensation coverage, administers your benefits, and saves you time, money, and headaches. </div>
<br><br>
    <h2>Compliance, Payroll and HR Support</h2>
    <br>
<ul>
    <li> Remain compliant as laws, rules, and regulations constantly change </li>
    <li> PEO files your state and federal payroll taxes</li>
    <li>PEO issues W-2's at the end of the year</li>
    <li>Receive support and subject matter expert access and solutions to Human Resources related issues such as terminations, harassment, and state unemployment claims</li>
</ul>
</div>

<div class="left">
    <br><br>
<img src="{% static 'assets/img/hardhat.jpg' %}"  alt="">
</div>

</div>

   <style>
        .column {
          width: 30%;
          float: left;
          padding: 5px;
        }

        .right {
          width: 40%;
            padding:500px
        }

        .right2{
            width: 20%;

            padding:5px;
        }

        .left {
          width: 60%;
            padding:1px
        }

   .center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}


}
    </style>

{% endblock %}